.deps
.devkit
.doco-cache.*
.doco-cache/
.env
deploy/
imposer/.cache/
vendor/

public/ext/mu-plugins/*/
public/ext/plugins/*
public/ext/upgrade
public/ext/uploads/*

!public/ext/plugins/.gitkeep
!public/ext/uploads/.gitkeep

public/wp
public/.htaccess
